---
layout: layout.njk
title: home
---

<section class="home-intro">
  <h1>안녕 🦭</h1>
  <p>this space was inspired by silly seals napping on small rocks and shit.</p>
</section>

<section class="home-featured">
  <h2 class="section-title">latest entries</h2>
  <div class="latest-entry-grid">

    {% set journalPosts = collections.journaling | reverse %}
    {% set latestJournal = journalPosts | rejectattr("inputPath", "equalto", "./journaling/index.md") | first %}

    {% set learningPosts = collections.learning | reverse %}
    {% set latestLearn = learningPosts | rejectattr("inputPath", "equalto", "./learning/index.md") | first %}

    {% if latestJournal %}
    <a href="{{ latestJournal.url }}" class="featured-entry-link">
      <div class="featured-entry">
        <p class="entry-subheader">from journaling</p>
        <h3 class="featured-title">{{ latestJournal.data.title }}</h3>
        <p class="post-date">{{ latestJournal.date | readableDate }}</p>
      </div>
    </a>
    {% endif %}

    {% if latestLearn %}
    <a href="{{ latestLearn.url }}" class="featured-entry-link">
      <div class="featured-entry">
        <p class="entry-subheader">from learning</p>
        <h3 class="featured-title">{{ latestLearn.data.title }}</h3>
        <p class="post-date">{{ latestLearn.date | readableDate }}</p>
      </div>
    </a>
    {% endif %}

  </div>
</section>

<section class="home-playlist">
  <h2>🌊 for extra sillyseal vibes🌊</h2>
  <iframe 
    style="border-radius:12px" 
    src="https://open.spotify.com/embed/playlist/2ZnXnZk5ttIPWKZIJHe4Ds?utm_source=generator" 
    width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; 
    encrypted-media; fullscreen; picture-in-picture" loading="lazy">
  </iframe>
</section>
