<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
  <header>
    <h1>sillysealthoughts</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/journaling/">journaling</a>
      <a href="/learning/">learning</a>
    </nav>
  </header>

  <main>
  {% if title and page.url != "/journaling/" and page.url != "/learning/" and page.url != "/home/" %}
    <h1 class="post-heading">{{ title }}</h1>
  {% endif %}

  {% if date and page.url != "/journaling/" and page.url != "/learning/" and page.url != "/home/" %}
    <p class="post-date-meta">{{ date | readableDate }}</p>
  {% endif %}

  {{ content | safe }}
</main>

  <footer>
    <p>© 2025 SillySealThoughts.com spreading silly seal vibes 🐚</p>
  </footer>
</body>
</html>
